################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sorbarendezes/.vs/sorb/v15
/sorbarendezes/sorb/obj/Debug
/sorbarendezes/sorb/bin/Debug
/harcocska/.vs/harcocska/v15
/harcocska/harcocska/bin/Debug
/harcocska/harcocska/obj/Debug
