################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sorbarendezes/.vs/sorb/v15
/sorbarendezes/sorb/obj/Debug
/sorbarendezes/sorb/bin/Debug
/harcocska/.vs/harcocska/v15
/harcocska/harcocska/obj/Debug
/harcocska/harcocska/obj/Release
/harcocska/harcocska/bin/Debug/harcocska.exe
/harcocska/harcocska/bin/Debug/harcocska.exe.config
/harcocska/harcocska/bin/Debug/harcocska.pdb
/harcocska/harcocska/bin/Release/harcocska.exe
/harcocska/harcocska/bin/Release/harcocska.exe.config
/harcocska/harcocska/bin/Release/harcocska.pdb
/sorbarendezes/sorb/bin/Release/sorb.exe
/sorbarendezes/sorb/bin/Release/sorb.exe.config
/sorbarendezes/sorb/bin/Release/sorb.pdb
/sorbarendezes/sorb/obj/Release
